In [16]:
import pandas as pd
import numpy as np

def create_confusion_dict(df_pred, df_actual):
    response = {"tpr":0, "fpr": 0, "tnr":0, "fnr":0, "total":0}
    for index, row in df_pred.iterrows():
        for i, item in row.iteritems():
                print(row)



data = np.array([(1, 0, 0), (1, 1, 1), (0, 0, 0)],
                dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
df = pd.DataFrame(data, columns=['a', 'b', 'c'])

dataTRUE = np.array([(1, 1, 1), (1, 1, 1), (0, 0, 0)],
                dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
dfTRUE = pd.DataFrame(dataTRUE, columns=['a', 'b', 'c'])
create_confusion_dict(df, dfTRUE)
dfTRUE

a    1
b    0
c    0
Name: 0, dtype: int32
a    1
b    0
c    0
Name: 0, dtype: int32
a    1
b    0
c    0
Name: 0, dtype: int32
a    1
b    1
c    1
Name: 1, dtype: int32
a    1
b    1
c    1
Name: 1, dtype: int32
a    1
b    1
c    1
Name: 1, dtype: int32
a    0
b    0
c    0
Name: 2, dtype: int32
a    0
b    0
c    0
Name: 2, dtype: int32
a    0
b    0
c    0
Name: 2, dtype: int32

   a  b  c
0  1  1  1
1  1  1  1
2  0  0  0