In [2]:
import pandas as pd
import numpy as np
from fast_ml.model_development import train_valid_test_split

time_precision = 4   # jagame päeva xh suurusteks plokkideks


df = pd.read_csv("../../data/master.csv")
df = df.apply(pd.to_numeric, errors='ignore', downcast='integer')
df.ToimAeg = pd.to_datetime(df.ToimAeg)
df.ToimAeg = df['ToimAeg'].apply(lambda x: x.replace(hour=x.hour-x.hour%time_precision, minute=0, second=0))
df.head()

,MaakondNimetus,ValdLinnNimetus,KohtNimetus,Lest_X,Lest_Y,ToimAeg,LIIK_AVALIKU_KORRA_RIKKUMINE,LIIK_JALGRATTA_MOPEEDI_VARGUS,LIIK_KEHALINE_VAARKOHTLEMINE,LIIK_KELMUS,...,ToimNadalapaev_Esmaspäev,ToimNadalapaev_Kolmapäev,ToimNadalapaev_Laupäev,ToimNadalapaev_Neljapäev,ToimNadalapaev_Pühapäev,ToimNadalapaev_Reede,ToimNadalapaev_Teisipäev,Kahjusumma_0-499,Kahjusumma_500-4999,Kahjusumma_5000-49999
0,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500,542000,2012-01-01,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,Pärnu maakond,Sauga vald,Sauga alevik,6476000,529000,2012-01-01,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500,543500,2012-01-01,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,Harju maakond,Tallinna linn,Lasnamäe linnaosa,6589000,547000,2012-01-01,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500,542000,2012-01-01,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

## Tähelepanukud mida ei ole jaksanud lõpuni mõelda

* from sklearn.model_selection import TimeSeriesSplit, on see cross validation mida me tahame kasutada
* ma pole kindel milline splittimine kõige targe testimisese andmeteks on, vb tuleks custom teha.
** hetkel võtab ta esimesed 80% train, järgmised 10% validation ja viimased 10% on test