In [1]:
import pandas as pd
import numpy as np
from fast_ml.model_development import train_valid_test_split

In [2]:
# kõigi andmete sisselugemine
data1 = pd.read_csv("../../data/avalik_2012_2015.csv", sep='\t')
data2 = pd.read_csv("../../data/avalik_2016_2020.csv", sep='\t')
data3 = pd.read_csv("../../data/avalik_2020_2021.csv", sep='\t')
df = pd.concat([data1, data2, data3])
df.drop_duplicates(subset='JuhtumId', inplace=True)
df.head()

,JuhtumId,ToimKpv,ToimKell,ToimNadalapaev,SyndmusLiik,SyndmusTaiendavStatLiik,Seadus,Paragrahv,ParagrahvTais,Loige,Kahjusumma,KohtLiik,MaakondNimetus,ValdLinnNimetus,KohtNimetus,Lest_X,Lest_Y,SyyteoLiik
0,ec47da68-1635-18d5-8326-a9a756483dba,2015-12-31,23:55,Neljapäev,VARGUS,MUU_VARGUS,Karistusseadustik,§ 199.,§ 199. Vargus,lg. 1.,0-499,"AVALIK_KOHT,KONNITEE_TEEPEENAR,MUU KOHT",Tartu maakond,Tartu linn,Tartu linn,6474000-6474499,658500-658999,KT
1,ec47a46c-1635-18d5-8326-a9a756483dba,2015-12-31,23:45,Neljapäev,VARGUS,"MOBIILTELEFONIVARGUS,TASKUVARGUS",Karistusseadustik,§ 199.,§ 199. Vargus,lg. 1.,0-499,"AVALIK_KOHT,TANAV_VALJAK",Harju maakond,Tallinn,Kesklinna linnaosa,6589000-6589499,542000-542499,KT
2,ec47a69c-1635-18d5-8326-a9a756483dba,2015-12-31,23:30,Neljapäev,VARGUS,MUU_VARGUS,Karistusseadustik,§ 199.,§ 199. Vargus,lg. 2.,0-499,"AVALIK_KOHT,TANAV_VALJAK",Harju maakond,Tallinn,Kristiine linnaosa,6588000-6588499,540000-540499,KT
3,ec47a5ac-1635-18d5-8326-a9a756483dba,2015-12-31,22:30,Neljapäev,VANDALISM,NaN,Karistusseadustik,§ 218.,§ 218. Varavastane süütegu väheväärtusliku asj...,lg. 1.,500-4999,"AVALIK_KOHT,PARKLA",Harju maakond,Tallinn,Kesklinna linnaosa,6588000-6588499,542000-542499,VT
4,ec494c18-1635-18d5-8326-a9a756483dba,2015-12-31,22:00,Neljapäev,PISIVARGUS,NaN,Karistusseadustik,§ 218.,§ 218. Varavastane süütegu väheväärtusliku asj...,lg. 1.,0-499,"AVALIK_KOHT,OOKLUBI_DISKOTEEK",Harju maakond,Tallinn,Kesklinna linnaosa,6588500-6588999,542000-542499,VT

In [3]:
# ainult oluliste veergude alles jätmine
df.drop(columns=['SyndmusTaiendavStatLiik', 'Seadus', 'Paragrahv', 'ParagrahvTais','Loige', 'SyyteoLiik'], inplace=True)

In [4]:
#kõikides kohtades kus on na aga on oluline et oleks salvestatud siis teeme asju
df = df.dropna()

In [5]:
df.sort_values(by=["ToimKpv", "ToimKell"], inplace=True)
df.head()

,JuhtumId,ToimKpv,ToimKell,ToimNadalapaev,SyndmusLiik,Kahjusumma,KohtLiik,MaakondNimetus,ValdLinnNimetus,KohtNimetus,Lest_X,Lest_Y
51806,ec2ba64a-1635-18d5-8326-a9a756483dba,2012-01-01,00:00,Pühapäev,VARGUS,0-499,"AVALIK_KOHT,TANAV_VALJAK",Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500-6588999,542000-542499
51807,ec2c5676-1635-18d5-8326-a9a756483dba,2012-01-01,00:00,Pühapäev,VANDALISM,0-499,"AVALIK_KOHT,PARKLA",Pärnu maakond,Sauga vald,Sauga alevik,6476000-6476999,529000-529999
51805,ec2bc86e-1635-18d5-8326-a9a756483dba,2012-01-01,00:15,Pühapäev,VARGUS,0-499,"AVALIK_KOHT,TANAV_VALJAK",Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500-6588999,543500-543999
51804,4294dd58-1636-18d5-8326-a9a756483dba,2012-01-01,00:20,Pühapäev,AVALIKU_KORRA_RIKKUMINE,0-499,MUU KOHT,Harju maakond,Tallinna linn,Lasnamäe linnaosa,6589000-6589499,547000-547499
51803,ec2ba500-1635-18d5-8326-a9a756483dba,2012-01-01,00:30,Pühapäev,VARGUS,0-499,"AVALIK_KOHT,TANAV_VALJAK",Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500-6588999,542000-542499

In [6]:
df.drop(columns="JuhtumId", inplace=True)

In [7]:
df['Toim']= pd.to_datetime(df['ToimKpv'] + ' ' +df['ToimKell'])
df.drop(columns=["ToimKpv", "ToimKell"], inplace=True)

df.dtypes

ToimNadalapaev             object
SyndmusLiik                object
Kahjusumma                 object
KohtLiik                   object
MaakondNimetus             object
ValdLinnNimetus            object
KohtNimetus                object
Lest_X                     object
Lest_Y                     object
Toim               datetime64[ns]
dtype: object

In [8]:
#df.head()
#df[df["SyndmusLiik"].str.contains(",")]
new_df = pd.concat([df.drop('SyndmusLiik', 1), df['SyndmusLiik'].str.get_dummies(sep=",").add_prefix("LIIK_")], 1)
new_df = pd.concat([new_df.drop('KohtLiik', 1), new_df['KohtLiik'].str.get_dummies(sep=",").add_prefix("KOHT_")], 1)
new_df = pd.get_dummies(new_df, columns=["ToimNadalapaev"])
new_df.head()

,Kahjusumma,MaakondNimetus,ValdLinnNimetus,KohtNimetus,Lest_X,Lest_Y,Toim,LIIK_AVALIKU_KOOSOLEKU_TEADE,LIIK_AVALIKU_KORRA_RIKKUMINE,LIIK_ILLEGAALNE_KAUBA_MUUK,...,KOHT_TURG,KOHT_UHISSOIDUK,KOHT_VEEKOGU,ToimNadalapaev_Esmaspäev,ToimNadalapaev_Kolmapäev,ToimNadalapaev_Laupäev,ToimNadalapaev_Neljapäev,ToimNadalapaev_Pühapäev,ToimNadalapaev_Reede,ToimNadalapaev_Teisipäev
51806,0-499,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500-6588999,542000-542499,2012-01-01 00:00:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0
51807,0-499,Pärnu maakond,Sauga vald,Sauga alevik,6476000-6476999,529000-529999,2012-01-01 00:00:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0
51805,0-499,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500-6588999,543500-543999,2012-01-01 00:15:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0
51804,0-499,Harju maakond,Tallinna linn,Lasnamäe linnaosa,6589000-6589499,547000-547499,2012-01-01 00:20:00,0,1,0,...,0,0,0,0,0,0,0,1,0,0
51803,0-499,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500-6588999,542000-542499,2012-01-01 00:30:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
#remove useless onehotencoded things
#del new_df_nums

df_numerics_only = new_df.select_dtypes(include=np.number)
#new_df_nums = pd.concat([new_df.drop(columns=new_df.select_dtypes(include=np.number).columns), df_numerics_only[df_numerics_only.columns[df_numerics_only.sum()>100]]])
df1 = new_df.drop(columns=new_df.select_dtypes(include=np.number).columns)
df2 = df_numerics_only[df_numerics_only.columns[df_numerics_only.sum()>100]]
#new_df_nums = new_df.drop(columns=[for col in new_df.select_dtypes(include=np.number).columns if col.sum() < 100])
print(df1.shape)
print(df2.shape)

# SIIN SAAB MUUTA mis on meie tähtsuse piir
to_drop = [col for col in df_numerics_only.columns if df_numerics_only[col].sum() < 100]
print(len(to_drop))
print(to_drop)
new_df.drop(columns=to_drop, inplace=True)

#new_df_nums.shape

(78373, 7)
(78373, 58)
48
['LIIK_AVALIKU_KOOSOLEKU_TEADE', 'LIIK_ILLEGAALNE_KAUBA_MUUK', 'LIIK_INTELLEKTUAALSE_OMANDI_OIG_RIKK', 'LIIK_JUHTUM_LOOMAGA', 'LIIK_JUHTUM_TULIRELVAGA', 'LIIK_JU_LIIK_COVID_19', 'LIIK_JU_LIIK_LIIKUMISPIIRANG', 'LIIK_KADUNUD_ESE/DOKUMENT', 'LIIK_KAUPLEMISE_NOUETE_RIKKUMINE', 'LIIK_LEITUD_LAIP', 'LIIK_LEITUD_LOHKEKEHA(-AINE)', 'LIIK_LIIKLUSONNETUS', 'LIIK_METALLIVARGUS', 'LIIK_METSAVARGUS', 'LIIK_MITTESULARAHALINE_MAKSEVAHEND', 'LIIK_NARKOJUHTUM', 'LIIK_PLAHVATUS', 'LIIK_POMMIAHVARDUS_KAHTLUS', 'LIIK_STREETRACE', 'LIIK_VALIMISED', 'LIIK_VARASTATU_MUUK/HOIDMINE', 'KOHT_HALDUSASUTUS', 'KOHT_INTERNET', 'KOHT_JALAKAIJATUNNEL', 'KOHT_KALMISTU', 'KOHT_KINO', 'KOHT_KIRIK_MUU_KULTUSEHOONE', 'KOHT_KONNITEE_TEEPEENAR', 'KOHT_LENNUJAAM', 'KOHT_LENNUK_OHUSOIDUK', 'KOHT_MAANTEE', 'KOHT_METS', 'KOHT_MUUSEUM', 'KOHT_NAITUSESAAL', 'KOHT_PANK', 'KOHT_PARKIMISMAJA', 'KOHT_PIIRIPUNKT', 'KOHT_RAUDTEE', 'KOHT_RONG', 'KOHT_SAAL_AULA', 'KOHT_SOOJUSTRASS', 'KOHT_STAADION', 'KOHT_SUPELRAND', 'KOHT_TEATER', 'KOHT_TEEAARNE_PUHKEKOHT', 'KOHT_TEHAS_VABRIK', 'KOHT_TOOTMIS_TOORUUM', 'KOHT_VEEKOGU']

In [10]:
koht_df = [col for col in df_numerics_only.columns if col not in to_drop and "KOHT_" in col]
liik_df = [col for col in df_numerics_only.columns if col not in to_drop and "LIIK_" in col]
print(koht_df)
print(liik_df)
print(len(koht_df))
print(len(liik_df))

['KOHT_APTEEK', 'KOHT_AVALIK_KOHT', 'KOHT_BUROO_KONTOR', 'KOHT_BUSSIJAAM_BUSSITERMINAAL', 'KOHT_BUSSIPEATUS', 'KOHT_EHITUS', 'KOHT_HOTELL_MOTELL', 'KOHT_KASIINO', 'KOHT_KAUBAMAJA', 'KOHT_KAUPLUS', 'KOHT_KIOSK', 'KOHT_KULTUURIASUTUS', 'KOHT_LASTEASUTUS_TERRITOORIUM', 'KOHT_MUU KOHT', 'KOHT_MUU RUUM', 'KOHT_OOKLUBI_DISKOTEEK', 'KOHT_OPPEASUTUS_SELLE_TERRITOORIUM', 'KOHT_OUEALATEE', 'KOHT_OUEALA_LAHTINE_HOOV', 'KOHT_PANGAAUTOMAAT', 'KOHT_PARK', 'KOHT_PARKLA', 'KOHT_RAND', 'KOHT_RAUDTEEJAAM', 'KOHT_RAVIASUTUS', 'KOHT_REISILAEV', 'KOHT_RIIDEHOID', 'KOHT_SADAM', 'KOHT_SOOGIKOHT', 'KOHT_SPORDIRAJATIS', 'KOHT_TAKSO', 'KOHT_TANAV_VALJAK', 'KOHT_TANKLA', 'KOHT_TEENINDUSETTEVOTE', 'KOHT_TREPIKODA_KORIDOR', 'KOHT_TURG', 'KOHT_UHISSOIDUK']
['LIIK_AVALIKU_KORRA_RIKKUMINE', 'LIIK_JALGRATTA_MOPEEDI_VARGUS', 'LIIK_KEHALINE_VAARKOHTLEMINE', 'LIIK_KELMUS', 'LIIK_KONFLIKT/OMAVOLI', 'LIIK_KOOLIVAGIVALD', 'LIIK_LIIKLUSRIKKUMINE', 'LIIK_MOOTORSOIDUKI_VARGUS', 'LIIK_MUU', 'LIIK_PISIVARGUS', 'LIIK_ROOVIMINE', 'LIIK_TULEKAHJU', 'LIIK_VANDALISM', 'LIIK_VARGUS']
37
14

In [11]:
# eemaldame need read kus kõik need KOHT_ asjade summa on 0
# eemaldame need read kus kõik need LIIK_ asjade summa on 0

# miks? sest need on need read, mis kaotasid oma tähenduse siis kui võtsime ära need onehotencodetud asjad, millel oli alla 100 tegelase
# new_df.shape = (78373, 67)
clean_df = new_df[new_df[koht_df].sum(axis=1) != 0]
clean_df = clean_df[clean_df[liik_df].sum(axis=1) != 0]
# clean_df = 78095 rows × 67 columns

In [12]:
# koordinaadid mugavaks splititud
clean_df["Lest_X"] = clean_df["Lest_X"].str.split("-", expand=True)[0]
clean_df["Lest_Y"] = clean_df["Lest_Y"].str.split("-", expand=True)[0]

clean_df.head()

,Kahjusumma,MaakondNimetus,ValdLinnNimetus,KohtNimetus,Lest_X,Lest_Y,Toim,LIIK_AVALIKU_KORRA_RIKKUMINE,LIIK_JALGRATTA_MOPEEDI_VARGUS,LIIK_KEHALINE_VAARKOHTLEMINE,...,KOHT_TREPIKODA_KORIDOR,KOHT_TURG,KOHT_UHISSOIDUK,ToimNadalapaev_Esmaspäev,ToimNadalapaev_Kolmapäev,ToimNadalapaev_Laupäev,ToimNadalapaev_Neljapäev,ToimNadalapaev_Pühapäev,ToimNadalapaev_Reede,ToimNadalapaev_Teisipäev
51806,0-499,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500,542000,2012-01-01 00:00:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0
51807,0-499,Pärnu maakond,Sauga vald,Sauga alevik,6476000,529000,2012-01-01 00:00:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0
51805,0-499,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500,543500,2012-01-01 00:15:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0
51804,0-499,Harju maakond,Tallinna linn,Lasnamäe linnaosa,6589000,547000,2012-01-01 00:20:00,1,0,0,...,0,0,0,0,0,0,0,1,0,0
51803,0-499,Harju maakond,Tallinna linn,Kesklinna linnaosa,6588500,542000,2012-01-01 00:30:00,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
# praegune annab clean_df.info() memory usage: 37.3+ MB
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78095 entries, 51806 to 0
Data columns (total 65 columns):
Kahjusumma                            78095 non-null object
MaakondNimetus                        78095 non-null object
ValdLinnNimetus                       78095 non-null object
KohtNimetus                           78095 non-null object
Lest_X                                78095 non-null object
Lest_Y                                78095 non-null object
Toim                                  78095 non-null datetime64[ns]
LIIK_AVALIKU_KORRA_RIKKUMINE          78095 non-null int64
LIIK_JALGRATTA_MOPEEDI_VARGUS         78095 non-null int64
LIIK_KEHALINE_VAARKOHTLEMINE          78095 non-null int64
LIIK_KELMUS                           78095 non-null int64
LIIK_KONFLIKT/OMAVOLI                 78095 non-null int64
LIIK_KOOLIVAGIVALD                    78095 non-null int64
LIIK_LIIKLUSRIKKUMINE                 78095 non-null int64
LIIK_MOOTORSOIDUKI_VARGUS             78095 non-null int64
LIIK_MUU                              78095 non-null int64
LIIK_PISIVARGUS                       78095 non-null int64
LIIK_ROOVIMINE                        78095 non-null int64
LIIK_TULEKAHJU                        78095 non-null int64
LIIK_VANDALISM                        78095 non-null int64
LIIK_VARGUS                           78095 non-null int64
KOHT_APTEEK                           78095 non-null int64
KOHT_AVALIK_KOHT                      78095 non-null int64
KOHT_BUROO_KONTOR                     78095 non-null int64
KOHT_BUSSIJAAM_BUSSITERMINAAL         78095 non-null int64
KOHT_BUSSIPEATUS                      78095 non-null int64
KOHT_EHITUS                           78095 non-null int64
KOHT_HOTELL_MOTELL                    78095 non-null int64
KOHT_KASIINO                          78095 non-null int64
KOHT_KAUBAMAJA                        78095 non-null int64
KOHT_KAUPLUS                          78095 non-null int64
KOHT_KIOSK                            78095 non-null int64
KOHT_KULTUURIASUTUS                   78095 non-null int64
KOHT_LASTEASUTUS_TERRITOORIUM         78095 non-null int64
KOHT_MUU KOHT                         78095 non-null int64
KOHT_MUU RUUM                         78095 non-null int64
KOHT_OOKLUBI_DISKOTEEK                78095 non-null int64
KOHT_OPPEASUTUS_SELLE_TERRITOORIUM    78095 non-null int64
KOHT_OUEALATEE                        78095 non-null int64
KOHT_OUEALA_LAHTINE_HOOV              78095 non-null int64
KOHT_PANGAAUTOMAAT                    78095 non-null int64
KOHT_PARK                             78095 non-null int64
KOHT_PARKLA                           78095 non-null int64
KOHT_RAND                             78095 non-null int64
KOHT_RAUDTEEJAAM                      78095 non-null int64
KOHT_RAVIASUTUS                       78095 non-null int64
KOHT_REISILAEV                        78095 non-null int64
KOHT_RIIDEHOID                        78095 non-null int64
KOHT_SADAM                            78095 non-null int64
KOHT_SOOGIKOHT                        78095 non-null int64
KOHT_SPORDIRAJATIS                    78095 non-null int64
KOHT_TAKSO                            78095 non-null int64
KOHT_TANAV_VALJAK                     78095 non-null int64
KOHT_TANKLA                           78095 non-null int64
KOHT_TEENINDUSETTEVOTE                78095 non-null int64
KOHT_TREPIKODA_KORIDOR                78095 non-null int64
KOHT_TURG                             78095 non-null int64
KOHT_UHISSOIDUK                       78095 non-null int64
ToimNadalapaev_Esmaspäev              78095 non-null uint8
ToimNadalapaev_Kolmapäev              78095 non-null uint8
ToimNadalapaev_Laupäev                78095 non-null uint8
ToimNadalapaev_Neljapäev              78095 non-null uint8
ToimNadalapaev_Pühapäev               78095 non-null uint8
ToimNadalapaev_Reede                  78095 non-null uint8
ToimNadalapaev_Teisipäev              78095 non-null uint8
dtypes: datetime64[ns](1), int64(51), object(6), uint8(7)
memory usage: 35.7+ MB

In [14]:
# mälu kasutamise vähendamine, nüüd võtab memory usage: 10.1+ MB
# XXX seda tuleb teha peale sisselugemist, prg suht mõttetu
reduced_df = clean_df.apply(pd.to_numeric, errors='ignore', downcast='integer')
reduced_df.Toim = pd.to_datetime(reduced_df.Toim)
reduced_df.rename(columns={'Toim':'ToimAeg'}, inplace=True)
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78095 entries, 51806 to 0
Data columns (total 65 columns):
Kahjusumma                            78095 non-null object
MaakondNimetus                        78095 non-null object
ValdLinnNimetus                       78095 non-null object
KohtNimetus                           78095 non-null object
Lest_X                                78095 non-null int32
Lest_Y                                78095 non-null int32
ToimAeg                               78095 non-null datetime64[ns]
LIIK_AVALIKU_KORRA_RIKKUMINE          78095 non-null int8
LIIK_JALGRATTA_MOPEEDI_VARGUS         78095 non-null int8
LIIK_KEHALINE_VAARKOHTLEMINE          78095 non-null int8
LIIK_KELMUS                           78095 non-null int8
LIIK_KONFLIKT/OMAVOLI                 78095 non-null int8
LIIK_KOOLIVAGIVALD                    78095 non-null int8
LIIK_LIIKLUSRIKKUMINE                 78095 non-null int8
LIIK_MOOTORSOIDUKI_VARGUS             78095 non-null int8
LIIK_MUU                              78095 non-null int8
LIIK_PISIVARGUS                       78095 non-null int8
LIIK_ROOVIMINE                        78095 non-null int8
LIIK_TULEKAHJU                        78095 non-null int8
LIIK_VANDALISM                        78095 non-null int8
LIIK_VARGUS                           78095 non-null int8
KOHT_APTEEK                           78095 non-null int8
KOHT_AVALIK_KOHT                      78095 non-null int8
KOHT_BUROO_KONTOR                     78095 non-null int8
KOHT_BUSSIJAAM_BUSSITERMINAAL         78095 non-null int8
KOHT_BUSSIPEATUS                      78095 non-null int8
KOHT_EHITUS                           78095 non-null int8
KOHT_HOTELL_MOTELL                    78095 non-null int8
KOHT_KASIINO                          78095 non-null int8
KOHT_KAUBAMAJA                        78095 non-null int8
KOHT_KAUPLUS                          78095 non-null int8
KOHT_KIOSK                            78095 non-null int8
KOHT_KULTUURIASUTUS                   78095 non-null int8
KOHT_LASTEASUTUS_TERRITOORIUM         78095 non-null int8
KOHT_MUU KOHT                         78095 non-null int8
KOHT_MUU RUUM                         78095 non-null int8
KOHT_OOKLUBI_DISKOTEEK                78095 non-null int8
KOHT_OPPEASUTUS_SELLE_TERRITOORIUM    78095 non-null int8
KOHT_OUEALATEE                        78095 non-null int8
KOHT_OUEALA_LAHTINE_HOOV              78095 non-null int8
KOHT_PANGAAUTOMAAT                    78095 non-null int8
KOHT_PARK                             78095 non-null int8
KOHT_PARKLA                           78095 non-null int8
KOHT_RAND                             78095 non-null int8
KOHT_RAUDTEEJAAM                      78095 non-null int8
KOHT_RAVIASUTUS                       78095 non-null int8
KOHT_REISILAEV                        78095 non-null int8
KOHT_RIIDEHOID                        78095 non-null int8
KOHT_SADAM                            78095 non-null int8
KOHT_SOOGIKOHT                        78095 non-null int8
KOHT_SPORDIRAJATIS                    78095 non-null int8
KOHT_TAKSO                            78095 non-null int8
KOHT_TANAV_VALJAK                     78095 non-null int8
KOHT_TANKLA                           78095 non-null int8
KOHT_TEENINDUSETTEVOTE                78095 non-null int8
KOHT_TREPIKODA_KORIDOR                78095 non-null int8
KOHT_TURG                             78095 non-null int8
KOHT_UHISSOIDUK                       78095 non-null int8
ToimNadalapaev_Esmaspäev              78095 non-null int8
ToimNadalapaev_Kolmapäev              78095 non-null int8
ToimNadalapaev_Laupäev                78095 non-null int8
ToimNadalapaev_Neljapäev              78095 non-null int8
ToimNadalapaev_Pühapäev               78095 non-null int8
ToimNadalapaev_Reede                  78095 non-null int8
ToimNadalapaev_Teisipäev              78095 non-null int8
dtypes: datetime64[ns](1), int32(2), int8(58), object(4)
memory usage: 8.5+ MB

In [15]:
reduced_df["Koht"] = reduced_df["MaakondNimetus"] + ";" + reduced_df["ValdLinnNimetus"] + ";" + reduced_df["KohtNimetus"]
reduced_df = reduced_df.drop(["MaakondNimetus", "ValdLinnNimetus", "KohtNimetus"], axis=1)
reduced_df.head()

,Kahjusumma,Lest_X,Lest_Y,ToimAeg,LIIK_AVALIKU_KORRA_RIKKUMINE,LIIK_JALGRATTA_MOPEEDI_VARGUS,LIIK_KEHALINE_VAARKOHTLEMINE,LIIK_KELMUS,LIIK_KONFLIKT/OMAVOLI,LIIK_KOOLIVAGIVALD,...,KOHT_TURG,KOHT_UHISSOIDUK,ToimNadalapaev_Esmaspäev,ToimNadalapaev_Kolmapäev,ToimNadalapaev_Laupäev,ToimNadalapaev_Neljapäev,ToimNadalapaev_Pühapäev,ToimNadalapaev_Reede,ToimNadalapaev_Teisipäev,Koht
51806,0-499,6588500,542000,2012-01-01 00:00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Kesklinna linnaosa
51807,0-499,6476000,529000,2012-01-01 00:00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Pärnu maakond;Sauga vald;Sauga alevik
51805,0-499,6588500,543500,2012-01-01 00:15:00,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Kesklinna linnaosa
51804,0-499,6589000,547000,2012-01-01 00:20:00,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Lasnamäe linnaosa
51803,0-499,6588500,542000,2012-01-01 00:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Kesklinna linnaosa

In [16]:
reduced_df.to_csv("../../data/master.csv", index=False)