In [3]:
import pandas as pd
import numpy as np
from fast_ml.model_development import train_valid_test_split

time_precision = 4   # jagame päeva xh suurusteks plokkideks


df = pd.read_csv("../../data/master.csv")
df = df.apply(pd.to_numeric, errors='ignore', downcast='integer')
df.ToimAeg = pd.to_datetime(df.ToimAeg)
df.ToimAeg = df['ToimAeg'].apply(lambda x: x.replace(hour=x.hour-x.hour%time_precision, minute=0, second=0))
df.head()
# XXX valida parem traintestsplit

,Kahjusumma,Lest_X,Lest_Y,ToimAeg,LIIK_AVALIKU_KORRA_RIKKUMINE,LIIK_JALGRATTA_MOPEEDI_VARGUS,LIIK_KEHALINE_VAARKOHTLEMINE,LIIK_KELMUS,LIIK_KONFLIKT/OMAVOLI,LIIK_KOOLIVAGIVALD,...,KOHT_TURG,KOHT_UHISSOIDUK,ToimNadalapaev_Esmaspäev,ToimNadalapaev_Kolmapäev,ToimNadalapaev_Laupäev,ToimNadalapaev_Neljapäev,ToimNadalapaev_Pühapäev,ToimNadalapaev_Reede,ToimNadalapaev_Teisipäev,Koht
0,0,6588500,542000,2012-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Kesklinna linnaosa
1,0,6476000,529000,2012-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Pärnu maakond;Sauga vald;Sauga alevik
2,0,6588500,543500,2012-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Kesklinna linnaosa
3,0,6589000,547000,2012-01-01,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Lasnamäe linnaosa
4,0,6588500,542000,2012-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Harju maakond;Tallinna linn;Kesklinna linnaosa

In [4]:
target_cols = [col for col in df.columns if "LIIK_" in col] + ['Kahjusumma', 'Koht'] #need mida tahame ennustada
X_train, y_train, X_valid, y_valid, X_test, y_test = train_valid_test_split(df, target=target_cols,
                                                                            method='random', sort_by_col='ToimAeg', random_state=42,
                                                                            train_size=0.8, valid_size=0.1, test_size=0.1)
print(X_train.shape)
print(X_valid.shape)
print(X_test.shape)
print(y_train.shape)
print(y_valid.shape)
print(y_test.shape)

X_train.to_csv("../../data/X_train.csv", index=False)
X_valid.to_csv("../../data/X_valid.csv", index=False)
X_test.to_csv("../../data/X_test.csv", index=False)
y_train.to_csv("../../data/y_train.csv", index=False)
y_valid.to_csv("../../data/y_valid.csv", index=False)
y_test.to_csv("../../data/y_test.csv", index=False)

X_train.head()

(62476, 47)
(7809, 47)
(7810, 47)
(62476, 16)
(7809, 16)
(7810, 16)

,Lest_X,Lest_Y,ToimAeg,KOHT_APTEEK,KOHT_AVALIK_KOHT,KOHT_BUROO_KONTOR,KOHT_BUSSIJAAM_BUSSITERMINAAL,KOHT_BUSSIPEATUS,KOHT_EHITUS,KOHT_HOTELL_MOTELL,...,KOHT_TREPIKODA_KORIDOR,KOHT_TURG,KOHT_UHISSOIDUK,ToimNadalapaev_Esmaspäev,ToimNadalapaev_Kolmapäev,ToimNadalapaev_Laupäev,ToimNadalapaev_Neljapäev,ToimNadalapaev_Pühapäev,ToimNadalapaev_Reede,ToimNadalapaev_Teisipäev
51487,6584000,540500,2017-02-05 08:00:00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
66069,6593000,557000,2019-06-06 20:00:00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10887,6461000,663000,2012-11-19 00:00:00,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
68536,6590000,539000,2019-11-11 12:00:00,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35437,6590500,549500,2015-03-24 16:00:00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1