In [18]:
import pandas as pd
import numpy as np

In [26]:
data1 = pd.read_csv("../../data/avalik_2012_2015.csv", sep='\t')
data2 = pd.read_csv("../../data/avalik_2016_2020.csv", sep='\t')
data3 = pd.read_csv("../../data/avalik_2020_2021.csv", sep='\t')

In [30]:
data1.count()

JuhtumId                   51810
ToimKpv                    51810
ToimKell                   49783
ToimNadalapaev             51810
SyndmusLiik                51810
SyndmusTaiendavStatLiik    24024
Seadus                     51810
Paragrahv                  51810
ParagrahvTais              51810
Loige                      44289
Kahjusumma                 45510
KohtLiik                   51772
MaakondNimetus             51761
ValdLinnNimetus            51761
KohtNimetus                51761
Lest_X                     51356
Lest_Y                     51356
SyyteoLiik                 51810
dtype: int64

In [31]:
data2.count()

JuhtumId                   39978
ToimKpv                    39978
ToimKell                   38389
ToimNadalapaev             39978
SyndmusLiik                39978
SyndmusTaiendavStatLiik    15165
Seadus                     39978
Paragrahv                  39978
ParagrahvTais              39978
Loige                      39978
Kahjusumma                 33814
KohtLiik                   39962
MaakondNimetus             39802
ValdLinnNimetus            39802
KohtNimetus                39802
Lest_X                     39561
Lest_Y                     39561
SyyteoLiik                 39978
dtype: int64

In [32]:
data3.count()

JuhtumId                   10779
ToimKpv                    10779
ToimKell                   10312
ToimNadalapaev             10779
SyndmusLiik                10779
SyndmusTaiendavStatLiik     4682
Seadus                     10779
Paragrahv                  10779
ParagrahvTais              10779
Loige                      10779
Kahjusumma                  9436
KohtLiik                   10777
MaakondNimetus             10779
ValdLinnNimetus            10779
KohtNimetus                10779
Lest_X                     10668
Lest_Y                     10668
SyyteoLiik                 10779
dtype: int64

In [20]:
print(data1.shape, data2.shape, data3.shape)
print(len(data1) + len(data2) + len(data3))

df = pd.concat([data1, data2, data3])
df.head()

(51810, 18) (39978, 18) (10779, 18)
102567

,JuhtumId,ToimKpv,ToimKell,ToimNadalapaev,SyndmusLiik,SyndmusTaiendavStatLiik,Seadus,Paragrahv,ParagrahvTais,Loige,Kahjusumma,KohtLiik,MaakondNimetus,ValdLinnNimetus,KohtNimetus,Lest_X,Lest_Y,SyyteoLiik
0,ec47da68-1635-18d5-8326-a9a756483dba,2015-12-31,23:55,Neljapäev,VARGUS,MUU_VARGUS,Karistusseadustik,§ 199.,§ 199. Vargus,lg. 1.,0-499,"AVALIK_KOHT,KONNITEE_TEEPEENAR,MUU KOHT",Tartu maakond,Tartu linn,Tartu linn,6474000-6474499,658500-658999,KT
1,ec47a46c-1635-18d5-8326-a9a756483dba,2015-12-31,23:45,Neljapäev,VARGUS,"MOBIILTELEFONIVARGUS,TASKUVARGUS",Karistusseadustik,§ 199.,§ 199. Vargus,lg. 1.,0-499,"AVALIK_KOHT,TANAV_VALJAK",Harju maakond,Tallinn,Kesklinna linnaosa,6589000-6589499,542000-542499,KT
2,ec47a69c-1635-18d5-8326-a9a756483dba,2015-12-31,23:30,Neljapäev,VARGUS,MUU_VARGUS,Karistusseadustik,§ 199.,§ 199. Vargus,lg. 2.,0-499,"AVALIK_KOHT,TANAV_VALJAK",Harju maakond,Tallinn,Kristiine linnaosa,6588000-6588499,540000-540499,KT
3,ec47a5ac-1635-18d5-8326-a9a756483dba,2015-12-31,22:30,Neljapäev,VANDALISM,NaN,Karistusseadustik,§ 218.,§ 218. Varavastane süütegu väheväärtusliku asj...,lg. 1.,500-4999,"AVALIK_KOHT,PARKLA",Harju maakond,Tallinn,Kesklinna linnaosa,6588000-6588499,542000-542499,VT
4,ec494c18-1635-18d5-8326-a9a756483dba,2015-12-31,22:00,Neljapäev,PISIVARGUS,NaN,Karistusseadustik,§ 218.,§ 218. Varavastane süütegu väheväärtusliku asj...,lg. 1.,0-499,"AVALIK_KOHT,OOKLUBI_DISKOTEEK",Harju maakond,Tallinn,Kesklinna linnaosa,6588500-6588999,542000-542499,VT

In [24]:
df.JuhtumId.value_counts()
df[df.JuhtumId == "84048708-06bf-18d8-97ce-a370cdce960d"]

,JuhtumId,ToimKpv,ToimKell,ToimNadalapaev,SyndmusLiik,SyndmusTaiendavStatLiik,Seadus,Paragrahv,ParagrahvTais,Loige,Kahjusumma,KohtLiik,MaakondNimetus,ValdLinnNimetus,KohtNimetus,Lest_X,Lest_Y,SyyteoLiik
3673,84048708-06bf-18d8-97ce-a370cdce960d,2020-05-17,18:27,Pühapäev,VARGUS,MUU_VARGUS,Karistusseadustik,§ 199.,§ 199. Vargus,lg. 2.,0-499,"AVALIK_KOHT,KAUPLUS",Harju maakond,Tallinn,Lasnamäe linnaosa,6588000-6588499,546000-546499,KT
8316,84048708-06bf-18d8-97ce-a370cdce960d,2020-05-17,18:27,Pühapäev,VARGUS,MUU_VARGUS,Karistusseadustik,§ 199.,§ 199. Vargus,lg. 2.,0-499,"AVALIK_KOHT,KAUPLUS",Harju maakond,Tallinn,Lasnamäe linnaosa,6588000-6588499,546000-546499,KT

In [22]:
data1.dropna(inplace=True, subset=['ToimKpv', 'ToimKell', 'ToimNadalapaev', 'SyndmusLiik', 'SyndmusTaiendavStatLiik', 'Kahjusumma', 'Lest_X', 'Lest_Y'])
data2.dropna(inplace=True)
data3.dropna(inplace=True)
print(data1.shape, data2.shape, data3.shape)

(21847, 18) (13483, 18) (4195, 18)

In [23]:
df = pd.concat([data1, data2, data3])
df.head()
df.shape

(39525, 18)

In [33]:
df.drop_duplicates(subset='JuhtumId', inplace=True)
df.shape
df.columns

Index(['JuhtumId', 'ToimKpv', 'ToimKell', 'ToimNadalapaev', 'SyndmusLiik',
       'SyndmusTaiendavStatLiik', 'Seadus', 'Paragrahv', 'ParagrahvTais',
       'Loige', 'Kahjusumma', 'KohtLiik', 'MaakondNimetus', 'ValdLinnNimetus',
       'KohtNimetus', 'Lest_X', 'Lest_Y', 'SyyteoLiik'],
      dtype='object')